name: CI-Tests about golang (unit tests and lint)

on:
  push:
    branches:
      - 'main'
      - 'feat/*'
      - 'fix/*'
  pull_request:

permissions: read-all

env:
  GO_VERSION: '1.23.x'

jobs:
  quality-checks:
    name: Run multiple tests (eg. go tests, pre-commit hooks)
    permissions:
      contents: read
    env:
      OS: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Nix
        uses: cachix/install-nix-action@456688f15bc354bef6d396e4a35f4f89d40bf2b7 # v31.8.2
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Go tests
        run: nix-shell --run "go test -v ./..."
      - name: Run pre-commit hooks
        run: nix-shell --run "pre-commit run --all-files"

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4cd598b67e5c50c84eafad1f4824ba7c84a54ef1 # v7.0.0
        with:
          version: v2.5
