name: CI-Tests about golang (unit tests and lint)

on:
  push:
    branches:
      - 'main'
      - 'feat/*'
      - 'fix/*'
  pull_request:

permissions: read-all

env:
  GO_VERSION: '1.23.x'

jobs:
  quality-checks:
    name: Run multiple tests (eg. go tests, pre-commit hooks)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Go tests
        run: nix-shell --run "go test -v ./..."
      - name: Run pre-commit hooks
        run: nix-shell --run "pre-commit run --all-files"

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: v2.5.0
